.form-modal-button-right {
  margin-left: auto;
  margin-right: 0px;
}

.ant-col.ant-col-18.ant-form-item-control {
  display: block;
  margin-right: 0px !important;
  margin-left: auto;
}

.button.float-right .ant-form-item-control-input-content button {
  float: right;
}

.ant-col.ant-col-18.ant-form-item-control .form-modal-button.submit {
  margin-right: 10px;
  margin-left: 10px;
}
